<!--By: Jeferson Braga do Carmo Create Date: 18/09/2017
Last Update: 9/19/2017 1:26:50 AM
Gerado automaticamente para alteracoes alterar o template-->
<div class="header preview active" data-style="box" data-position="top">
    <h2><strong>{{title}}</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li>
                <a href="#">Weventos</a>
            </li>
            <li class="active">{{title}}</li>
        </ol>
    </div>
</div>
<div class="panel">
    <div class="panel-header panel-controls">
        <h3>
            <strong>Pesquisa </strong> 
        </h3>
        <div class="control-btn">
            <button type="button" ng-click="showModal('new')" class="btn btn-sm btn-blue"><i class="fa fa-plus"></i>Novo</button>
        </div>
    </div>
    <div class="panel-content">
		<table dmp-table aa-data="tblData" aa-action="true" aa-editdelete="2" aa-search="true" id="table"></table>
    </div>
</div>
<div class="modal" data-style="panel" data-position="top" id="modal-escolaridade" aria-hidden="false" style="display: none;" data-action="none">
    <div class="modal-backdrop fade in" style="height: 100%"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" ng-click="exitModal()" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                <h4 class="modal-title"><strong>Cadastro de </strong> escolaridade</h4>
            </div>
            <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="Id" class="form-label">Id</label>
							<input type="number" ng-model="escolaridade.Id"  name="Id" class="form-control" id="Id" placeholder="Id" required>
						</div>
					</div>
				</div>
																							
                <div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="Escolaridade" class="form-label">Escolaridade</label>
							<input type="text" min="3" max="Escolaridade" ng-model="escolaridade.Escolaridade"  name="Escolaridade" class="form-control" id="Escolaridade" placeholder="Escolaridade" required>
						</div>
					</div>
				</div>														;
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="Escolaridade Antigo" class="form-label">Escolaridade Antigo</label>
							<input type="number" ng-model="escolaridade.Idescolaridadeantigo"  name="Escolaridade Antigo" class="form-control" id="Escolaridade Antigo" placeholder="Escolaridade Antigo" required>
						</div>
					</div>
				</div>
             </div>
            <div class="modal-footer">
                <button type="button" ng-click="exitModal()" class="btn btn-default btn-embossed" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>

